<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FRB page</title>
    <meta name="description" content="This is the page for a single FRB.">
    <meta name="author" content="aa-alert">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="static/css/custom-table.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

  </head>

  <script>
  $(document).ready(function() {

    var ajaxSource2 = "{{ url_for('show_Observations') }}";
    ajaxSource2 += '?frb_name={{frb_name}}';
    var table2 = $('#table2').DataTable( {
      "paging": false,
      "info": false,
      "searching": false,
      "bProcessing": true,
      "bjQueryUI": true,
      "sAjaxSource": ajaxSource2
    } );

    var ajaxSource3 = "{{ url_for('show_ROPs') }}";
    ajaxSource3 += '?frb_name={{frb_name}}';
    var table3 = $('#table3').DataTable( {
      "paging": false,
      "info": false,
      "searching": false,
      "bProcessing": true,
      "bjQueryUI": true,
      "sAjaxSource": ajaxSource3
    } );

    var ajaxSource4 = "{{ url_for('show_RMPs') }}";
    ajaxSource4 += '?frb_name={{frb_name}}';
    var table4 = $('#table4').DataTable( {
      "paging": false,
      "info": false,
      "searching": false,
      "bProcessing": true,
      "bjQueryUI": true,
      "sAjaxSource": ajaxSource4
    } );

    $('#table4 tbody').on( 'click', 'td', function () {
      var cell = $(this).html().trim();
      var row = $(this).parent().find('td').html().trim();
      var col = $('#table4 thead tr th').eq($(this).index()).html().trim();
      if (col == "VOEvent"){
        var newPage = "{{ url_for('show_VO_event') }}";
        newPage += '?vo_event_ivorn='+encodeURIComponent(cell);
        window.location.href = newPage;
      }
    });

  } );
  </script>

  <body>
    <div class="container">
      <table id="table2" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                  {% for col in columns_observations %}
                      <th>{{ col }}</th>
                  {% endfor %}
                </tr>
            </thead>
            <!-- <tfoot>
            {% for col in columns_observations %}
                <th>{{ col }}</th>
            {% endfor %}
            </tfoot> -->
        </table>

        <table id="table3" class="display" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    {% for col in columns_rops %}
                        <th>{{ col }}</th>
                    {% endfor %}
                  </tr>
              </thead>
              <!-- <tfoot>
                  <tr>
                  {% for col in columns_rops %}
                      <th>{{ col }}</th>
                  {% endfor %}
                  </tr>
              </tfoot> -->
          </table>
          <table id="table4" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    {% for col in columns_rmps %}
                        <th>{{ col }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <!-- <tfoot>
                <tr>
                {% for col in columns_rmps %}
                    <th>{{ col }}</th>
                {% endfor %}
                </tr>
                </tfoot> -->
            </table>
  	</div>
  </body>
</html>
